body{
    margin: 0;
    padding: 0;
    background: rgb(10, 160, 229);
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    color: white;
    filter: drop-shadow(2px 4px 8px rgb(9, 46, 156));
}
form{
    background: rgba(21, 200, 203, 0.4);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    border-radius: 12px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    filter: blur(0.4);
    box-shadow: 0px 2px 8px black;
    color: white;
}
.formHeading
{
    font-size: clamp(1.5rem,2.5vw,2.5rem);
    text-align: center;
}
form > *
{
    margin-top: 1rem;
    font-size: 2rem;
}
#copied{
    margin: 0;
    margin-top:0.5rem;
    color: black;
    display: none;
    font-size: clamp(1rem , 2.5vw , 1.5rem)
}
#viewPassword{
    font-size: clamp(1rem , 2.5vw , 1.5rem);
    margin-bottom: 0;
}
input[type="checkbox"]
{
    width: 20px;
    height: 20px;
}

#generatedPassword
{
    padding:12px;
    border-radius: 12px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 8px black;
    max-width: 80%;
}
.passwordType
{
    font-size: clamp(0.8rem,2.5vw,2rem);;
}
.btn
{
    width: 40%;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: all 0.4s;
    color: white;
    background: rgb(61, 61, 207);
    box-shadow: 0 1px 4px rgb(255, 255, 255);
    font-size: clamp(1rem , 2.5vw , 2rem);
}

.btn:hover
{
    background: rgb(247, 247, 247);
    color: blue;
}
#btn2
{
    background: white;
    color: blue;
    box-shadow: 0 2px 4px black;
}
#btn2:hover{
    background: rgb(61, 61, 207);
    color:white
}
input[type="radio"]
{
    height: 20px;
    width: 20px;
}
span
{
    margin-left: 15px;
}
.labelForSizeOfPassword{
    font-size: clamp(1rem,2.0vw,2rem);
    text-align: center;
}
#sizeOfPassword{
    width: 20%;
    padding: 4px;
    border-radius: 4px;
    outline: none;
    border: 0;
}
input[type="number"]
{
    translate: 0 -5px;
}

@media (max-width:830px)
{
    input[type="number"]{
        translate: 0;
    }
    input[type="checkbox"]
    {
        translate:0 5px;
    }
}
